{% extends "alf_db/base.html" %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="add">  
  <a href="{% url 'alf_db:add_customer' %}">
    <button type="button" class="btn btn-primary">Agregar Cliente</button>
  </a>
</div>

<div class="row">
  <div class="col-sm-9">
    {% render_table table %}
  </div>

  <div class="col-sm-3">
    <form id="filter_form" action="{% url 'alf_db:customers' %}" method='get'>
      {{ filter.form.as_p }}
      <input type="submit" value="Filtrar">
    </form>
  </div>
</div>


{% endblock content %}
