{% extends "alf_db/base.html" %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}

{% block content %}

<div class="add">  
  <a href="{% url 'alf_db:add_customer' %}">
    <button type="button" class="btn btn-primary">Agregar Cliente</button>
  </a>
</div>

<div class="row">
  <div class="col-sm-9">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </div>
    {% endif %}
    
    {% render_table table %}
  </div>

  <div class="col-sm-3">
    <form class="centered-form" id="filter_form" action="{% url 'alf_db:customers' %}" method='get'>
      
      <div class="form-group">
        <label for="{{ filter.form.first_name__icontains.id_for_label }}">Nombre:</label>
        {% render_field filter.form.first_name__icontains class+="form-control" %}
      </div>
    
      <div class="form-group">
        <label for="{{ filter.form.last_name__icontains.id_for_label }}">Apellido:</label>
        {% render_field filter.form.last_name__icontains class+="form-control" %}
      </div>
    
      <div class="form-group">
        <label for="{{ filter.form.email__icontains.id_for_label }}">Mail:</label>
        {% render_field filter.form.email__icontains class+="form-control" %}
      </div>
    
      <div class="form-group">
        <label for="{{ filter.form.facebook_username__icontains.id_for_label }}">Usuario de Facebook:</label>
        {% render_field filter.form.facebook_username__icontains class+="form-control" %}
      </div>
      
      <button class="btn btn-primary" name="submit" style="float: right;">Filtrar</button>
    </form>
  </div>
</div>


{% endblock content %}
