{% extends "alf_db/base.html" %} 
{% load render_table from django_tables2 %}

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Detalle de Cliente</h3>
  </div>
</div>

<div class="detail">
  <div class="detail_table" id="detail_table">
    <table class="detail_table">
      <tr class="row row-title">
        <th>Nombre:</th>
        <td>{{ customer.first_name }}</td>
      </tr>
      <tr class="row">
        <th>Apellido:</th>
        <td>{{ customer.last_name }}</td>
      </tr>
      <tr class="row">
        <th>Número de Socio:</th>
        <td>
          {% if customer.socio %}
            {{ customer.socio }}
          {% else %}
            -
          {% endif %}
        </td>
      </tr>
      <tr class="row">
        <th>Dirección:</th>
        <td>{{ customer.address }}</td>
      </tr>
      <tr class="row">
        <th>Teléfono:</th>
        <td>{{ customer.phone }}</td>
      </tr>
      <tr class="row">
        <th>Mail:</th>
        <td>{{ customer.email }}</td>
      </tr>
      <tr class="row">
        <th>Usuario de Facebook: </th>
        <td>{{ customer.facebook_username }}</td>
      </tr>
      <tr class="row">
        <th>Agregado el:</th>
        <td>{{ customer.date_added }}</td>
      </tr>
    </table>
  </div>

  <div>
    <a href="{% url 'alf_db:edit_customer' customer.id %}">
      <button type="button" class="btn btn-primary" style="float: right;">Editar</button>
    </a>
    <form class="form-inline" action="{% url 'alf_db:delete_customer' customer.id %}" method="POST">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" style="float: right;">Borrar</button>
    </form>
    <button type="button" 
            class="btn btn-primary" 
            data-toggle="collapse" 
            aria-expanded="true" 
            data-target="#demo" 
            style="float: left">
      Historial de Transacciones
    </button>
    <div style="height: 50px"></div>
  </div>
  
  <div id="demo" class="collapse">
    {% if messages %}
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </div>
    {% else %}
      {% render_table table %}
    {% endif %}
  </div>

</div>

{% endblock content %}