{% extends "alf_db/base.html" %} 

{% load widget_tweaks %}

{% block scripts %}
  {% load static %}
  <script src="{% static "alf_db/checkBox.js" %}" ></script>
  <script src="{% static "alf_db/select.js" %}" ></script>
  <script src="{% static "alf_db/thumbnails.js" %}" ></script>
  <script src="{% static "alf_db/navigation.js" %}" ></script>
  <link rel="stylesheet" href= "{% static "alf_db/jquery-ui.css" %}">
  <script src="{% static "alf_db/jquery-ui.js" %}"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker({
      dateFormat: "dd/mm/yy"
    });    
  } );
  </script>
{% endblock scripts %}

{% block content %}


<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Editar Transacción</h3>
  </div>
</div>


<form class="centered-form" action="{% url 'alf_db:edit_transaction'  transaction.id %}" method='post' enctype="multipart/form-data">
{% if messages %}
  <div class="alert alert-success" role="alert">
    {% for message in messages %}
      {{ message }}
    {% endfor %}
  </div>
{% endif %}
  {% csrf_token %}
  {{ form.non_field_errors }}
  
  <div class="form-group pull-right" >

     <span class="button-checkbox">
        <button type="button" 
                class="btn  check-recept-checkbox" 
                data-color="primary">
                Recepción de Cheque
                {% render_field form.check_reception style="display: none;" %}
        </button>
    </span>
    <div>
      {% for error in form.check_reception.errors %}
        <p class="form-error">{{ error | escape }}</p>
      {% endfor %}
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="form-group">
    <label for="{{ form.delivery_number.id_for_label }}">Número de Envío:</label>
    {% render_field form.delivery_number class+="form-control" %}
    <div>
      {% for error in form.delivery_number.errors %}
      <p class="form-error">{{ error | escape }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form.delivery_date.id_for_label }}">Fecha de Recepción de los Productos:</label>
    {% render_field form.delivery_date class+="form-control" id="datepicker" %}
    <div>
      {% for error in form.delivery_date.errors %}
      <p class="form-error">{{ error | escape }}</p>
      {% endfor %}
    </div>
  </div>
  


  <div class="form-group">
    <label for="{{ form.customer.id_for_label }}">Cliente:</label>
    {% render_field form.customer class+="form-control js-example-basic-single" %}
    <div>
      {% for error in form.customer.errors %}
        <p class="form-error">{{ error | escape }}</p>
      {% endfor %}
    </div>
  </div>

  <div class="form-group">
    <label for="{{ form.products.id_for_label }}">Producto:</label>
    {% render_field form.products class+="form-control js-example-basic-multiple" %}
    <div>
      {% for error in form.products.errors %}
        <p class="form-error">{{ error | escape }}</p>
      {% endfor %}
    </div>
  </div>
  
  <div  class="btn btn-primary" style="margin-left:0;  ">
    <input type="file" name="transaction_images" accept="image/*"  style="opacity:0;  position: absolute;"> 
    <p style="margin: 0 0 0px;">Agregar Imagen </p>
  </div>

  <button class="btn btn-primary" name="submit" style="float: right;">Guardar</button>
  <button id="save-image-button" class="btn btn-primary" name="submit" style="float: right;">Guardar Imagen</button>


</form>
<div class="clearfix"></div>
  <div class="form-group  centered-form" >
    <div class="clearfix" style="height: 25px;"></div>
      {% if images %}
      <label for="{{ form.transaction_images.id_for_label }}">Imágenes:</label>
      <div class="clearfix" style="height: 25px;"></div>
        {% for transaction_image in images %}
          <div class="image-container" style="border-radius: 7px; border: 1px solid grey; overflow: hidden; width: 150px; height: 150px; display: inline-block; position: relative;">
            <form class="form-inline" action="{% url 'alf_db:delete_image' transaction.id transaction_image.id %}" style="display: inline;" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-link btn-xs">
                <span style="z-index: 10;" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              </button> 
            </form>
            <img style="position: absolute;" class="thumbnail-image" src="{{ transaction_image.image.url }}" alt="{{ transaction_image.image.name }}">  
          </div>
        {% endfor %}
      {% endif %}
  </div>
{% endblock content %}