{% extends "alf_db/base.html" %}



{% block content %}


<div class="container" >
  {% if alert_products %}
    <div class="alert alert-warning">
      <strong>Alerta!</strong> Bajo stock de 
        <a href="#" data-toggle="collapse" data-target="#demo" class="alert-link">productos.</a>
          <div id="demo" class="collapse">
              {% for product in alert_products %}
                <p>
                  <a href="{% url 'alf_db:product_detail' product.id %}">{{product}}</a>
                </p>
              {% endfor %}
          </div>
    </div>
 {% endif %}
</div>


{% load render_table from django_tables2 %}

<a href="{% url 'alf_db:add_product' %}">
  <button type="button" class="btn btn-primary">Agregar Producto</button>
</a>

{% render_table table %}

<form action="{% url 'alf_db:products' %}" method='get'>
  <div class="btn-group" id="container_filter_name">
  </div>

  <div class="btn-group" id="container_filter_type">
  </div>

  <input id="filter_value" type="text"></input>
</form>

{% endblock content %}