{% extends "alf_db/base.html" %}
{% load widget_tweaks %}
{% load render_table from django_tables2 %}

{% block scripts %}
  {% load static %}
  <script src="{% static "alf_db/filters.js" %}" ></script>
{% endblock scripts %}

{% block content %}


<div class="container" >
  {% if alert_products %}
    <div class="alert alert-warning">
      <strong>Alerta!</strong> Bajo stock de 
        <a href="#" data-toggle="collapse" data-target="#demo" class="alert-link">productos</a>.
          <div id="demo" class="collapse">
              {% for product in alert_products %}
                <p>
                  <a href="{% url 'alf_db:product_detail' product.id %}">{{product}}</a>
                </p>
              {% endfor %}
          </div>
    </div>
 {% endif %}
</div>


<div class="add">  
  <a href="{% url 'alf_db:add_product' %}">
    <button type="button" class="btn btn-primary">Agregar Producto</button>
  </a>
</div>

<div class="row">
  <div class="col-sm-9">
    {% if messages %}
        {% for message in messages %}
          <div {% if message.tags == "error" %} 
                  class="alert-danger alert"
               {% else %}
                  class="alert-{{ message.tags }} alert"
               {% endif %} 
          role="alert">
            {{ message }}
          </div>
        {% endfor %}
    {% endif %}

    {% render_table table %}
  </div>
  <div class="col-sm-3">
    <form class="centered-form" id="filter_form" action="{% url 'alf_db:products' %}" method='get'>
      
      <div class="form-group">
        <label for="{{ filter.form.name__icontains.id_for_label }}">Nombre:</label>
        {% render_field filter.form.name__icontains class+="form-control" %}
      </div>
    
      <div class="form-group">
        <label for="{{ filter.form.code__icontains.id_for_label }}">Code:</label>
        {% render_field filter.form.code__icontains class+="form-control" %}
      </div>
    
      <div class="form-group">
        <label for="{{ filter.form.description__icontains.id_for_label }}">Descripción:</label>
        {% render_field filter.form.description__icontains class+="form-control" %}
      </div>
      
      <button class="btn btn-primary" name="submit" style="float: right;">Filtrar</button>
      <button id="clear" class="btn btn-primary" type="button" name="button" style="float: right;">Limpiar</button>
    </form>

  </div>
</div>
{% endblock content %}