{% extends "alf_db/base.html" %} 
{% load widget_tweaks %}
{% load render_table from django_tables2 %} 

{% block scripts %}
  {% load static %}
  <script src="{% static "alf_db/filters.js" %}" ></script>
  <script src="{% static "alf_db/select.js" %}" ></script>
{% endblock scripts %}

{% block content %}


<div class="container" >
  {% if alert_transactions %}
    <div class="alert alert-danger">
      <strong>Alerta!</strong> Ya han pasado 15 días desde la recepción de productos de 
        <a href="#" data-toggle="collapse" data-target="#demo1" class="alert-link">transacciones</a>.
          <div id="demo1" class="collapse">
            <ul>Número de Envío:
              {% for transaction in alert_transactions %}
                <li>
                  <a href="{% url 'alf_db:transaction_detail' transaction.id %}">  {{transaction.delivery_number}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
    </div>
 {% endif %}
</div>

<div class="container" >
  {% if pay_date_alert_transactions %}
    <div class="alert alert-danger">
      <strong>Alerta!</strong> Hay  
        <a href="#" data-toggle="collapse" data-target="#demo2" class="alert-link">transacciones</a> 
        cuyas fechas de pago están por vencer.
          <div id="demo2" class="collapse">
            <ul>Número de Envío:
              {% for transaction in pay_date_alert_transactions %}
                <li>
                  <a href="{% url 'alf_db:transaction_detail' transaction.id %}">  {{transaction.delivery_number}}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
    </div>
 {% endif %}
</div>

<div class="add">
  <a href="{% url 'alf_db:add_transaction' %}">
    <button type="button" class="btn btn-primary">Agregar Transacción</button>
  </a>
</div>


<div class="row">
  <div class="col-sm-9">
    {% if messages %}
    <div class="alert alert-success" role="alert">
        {% for message in messages %}
          {{ message }}
        {% endfor %}
    </div>
    {% endif %}

    {% render_table table %}
  </div>

  <div class="col-sm-3">
     <form class="centered-form" id="filter_form" action="{% url 'alf_db:transactions' %}" method='get'>
      
      <div class="form-group">
        <label for="{{ filter.form.delivery_number__icontains.id_for_label }}">Número de Envío:</label>
        {% render_field filter.form.delivery_number__icontains class+="form-control" %}
      </div>
    
      <div class="form-group">
        <label for="{{ filter.form.customer.id_for_label }}">Cliente:</label>
        {% render_field filter.form.customer class+="form-control js-example-basic-single" %}
      </div>
      
      <button class="btn btn-primary" name="submit" style="float: right;">Filtrar</button>
      <button id="clear" class="btn btn-primary" type="button" name="button" style="float: right;">Limpiar</button>

    </form>
  </div>
</div>



{% endblock content %}