{% extends "alf_db/base.html" %} 

{% block content %}

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Detalle de la Transacción</h3>
  </div>
</div>

<div class="detail">
  <div class="detail_table" id="detail_table">
    <table class="detail_table">
      <tr class="row row-title">
        <th>Cliente:</th>
        <td>{{ transaction.customer }}</td>
      </tr>
      <tr class="row">
        <th>Productos:</th>
        <td>
          {% for item in transaction.products.all %}
            - <a href="{% url 'alf_db:product_detail' item.id %}">{{item.name}}</a>    
          {% endfor %}
        </td>
      </tr>
      <tr class="row">
        <th>Número de Envío:</th>
        <td>{{ transaction.delivery_number }}</td>
      </tr>
      <tr class="row">
        <th>Agregado el:</th>
        <td>{{ transaction.date_added | date:"d-m-Y"}}</td>
      </tr>
      <tr class="row">
        <th>Fecha de Recepción:</th>
        <td>
          {% if transaction.delivery_date %}
            {{ transaction.delivery_date }}
          {% else %}
            El cliente no recibió los productos aún.
          {% endif %}
        </td>
      </tr>
      <tr class="row">
        <th>Recepción de cheque:</th>
        <td>
          {% if transaction.check_reception %}
            Cheque recibido.
          {% else %}
            Cheque no recibido aún.
          {% endif %}
        </td>
      </tr>

      <tr class="row">
        <th>Imágenes:</th>
        <td>
          {% if transaction.transaction_images %}
            <div class="col-xs-6 col-md-3">
              <a href="{{ transaction.transaction_images.url }}" class="thumbnail">
                <img src="{{ transaction.transaction_images.url }}" alt="...">
              </a>
            </div>
          {% endif %}
        </td>
      </tr>
    </table>
    
 
  <a href="{% url 'alf_db:edit_transaction' transaction.id %}">
    <button type="button" class="btn btn-primary active" style="float: right;">Editar</button>
  </a>
  <form class="form-inline" action="{% url 'alf_db:delete_transaction' transaction.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary active" style="float: right;">Borrar</button>
  </form>
</div>

{% endblock content %}