.detail_table {
  width: 100%;
  margin-bottom: 10px;
  
}

.detail_table th {
  width: 30%;
  padding: 8px 12px 6px 12px;

}

.detail_table tr {
  border-bottom: 1px solid #e8e8e8;
}

.orderable {
  width: auto;
}


.check-recept-checkbox {
    margin: 0;
    font-size: 14px;
}